@font-face {
  font-family: 'populaireregular';
  src: url('/themes/santos/fonts/populaire-webfont.eot');
  src: url('/themes/santos/fonts/populaire-webfont.eot?#iefix') format('embedded-opentype'), url('/themes/santos/fonts/populaire-webfont.woff2') format('woff2'), url('themes/santos/fonts/populaire-webfont.woff') format('woff'), url('/themes/santos/fonts/populaire-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.lead {
font-family: 'populaireregular';
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
}

h1 {
  font-family: 'populaireregular';
  color: #fff;
  font-size: 56px;
  line-height: 140px;
  text-align: center;
  background: url('/themes/santos/images/flag.svg') no-repeat;
  background-size: 160px;
  min-height: 160px;
  min-width: 160px;
  max-width: 160px;
  width: 160px;
  background:#000;
  
}

h2 {
  font-family: 'populaireregular';
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  text-align: left;
  background: url('/themes/santos/images/flag-label-wider.png') top right no-repeat;
  
  min-height: 70px;
  min-width: 160px;
  display:inline-block;
  padding:15px 30px 0 20px; 
  margin:0;

  
}