@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400,700,900');
@font-face {
  font-family: 'SuomiHand-Script';
  src: url('/webfonts/316C53_0_0.eot');
  src: url('/webfonts/316C53_0_0.eot?#iefix') format('embedded-opentype'), url('/webfonts/316C53_0_0.woff2') format('woff2'), url('/webfonts/316C53_0_0.woff') format('woff'), url('/webfonts/316C53_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'NexaBlack';
  src: url('/webfonts/316C55_0_0.eot');
  src: url('/webfonts/316C55_0_0.eot?#iefix') format('embedded-opentype'), url('/webfonts/316C55_0_0.woff2') format('woff2'), url('/webfonts/316C55_0_0.woff') format('woff'), url('/webfonts/316C55_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'NexaBold';
  src: url('/webfonts/316C55_1_0.eot');
  src: url('/webfonts/316C55_1_0.eot?#iefix') format('embedded-opentype'), url('/webfonts/316C55_1_0.woff2') format('woff2'), url('/webfonts/316C55_1_0.woff') format('woff'), url('/webfonts/316C55_1_0.ttf') format('truetype');
}
@font-face {
  font-family: 'NexaHeavy';
  src: url('/webfonts/316C55_2_0.eot');
  src: url('/webfonts/316C55_2_0.eot?#iefix') format('embedded-opentype'), url('/webfonts/316C55_2_0.woff2') format('woff2'), url('/webfonts/316C55_2_0.woff') format('woff'), url('/webfonts/316C55_2_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Nexa';
  src: url('/webfonts/316C55_3_0.eot');
  src: url('/webfonts/316C55_3_0.eot?#iefix') format('embedded-opentype'), url('/webfonts/316C55_3_0.woff2') format('woff2'), url('/webfonts/316C55_3_0.woff') format('woff'), url('/webfonts/316C55_3_0.ttf') format('truetype');
}
@font-face {
  font-family: 'NexaXBold';
  src: url('/webfonts/316C55_4_0.eot');
  src: url('/webfonts/316C55_4_0.eot?#iefix') format('embedded-opentype'), url('/webfonts/316C55_4_0.woff2') format('woff2'), url('/webfonts/316C55_4_0.woff') format('woff'), url('/webfonts/316C55_4_0.ttf') format('truetype');
}
/* --------------  BRAND FONTS --------------- */
.font-nexa {
  font-family: "Nexa";
}
.font-nexa-bold {
  font-family: "NexaBold";
}
.font-nexa-black {
  font-family: "NexaBlack";
}
.font-nexa-heavy {
  font-family: "NexaHeavy";
}
.font-nexa-xbold {
  font-family: "NexaXBold";
}
.font-script {
  font-family: "SuomiHand-Script";
}
.font-roboto {
  font-family: "Roboto";
  font-weight: 400;
}
.font-roboto-condensed {
  font-family: "Roboto Condensed";
  font-weight: 400;
}
.font-roboto-light {
  font-family: "Roboto";
  font-weight: 300;
}
.font-roboto-bold {
  font-family: "Roboto";
  font-weight: 700;
}
.font-roboto-black {
  font-family: "Roboto";
  font-weight: 900;
}
/* 
--------------------------------------------------------
some global defaults for colours  etc
--------------------------------------------------------
*/
/* --------------  BRAND COLOURS --------------- */
.bg-bb-blue {
  background-color: #333952;
}
.bg-bb-yellow {
  background-color: #FFD402;
}
.bg-bb-grey {
  background-color: #F1F1F2;
}
.bg-bb-grey2 {
  background-color: #A6A8AB;
}
.bg-bb-grey3 {
  background-color: #58595B;
}
