@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,600,900|Roboto+Condensed:300,400,600,900';
@font-face {
	font-family: 'SuomiHand';
	src: url('/themes/santos/fonts/SuomiHand-Script.eot');
	src: url('/themes/santos/fonts/SuomiHand-Script.eot?#iefix') format('embedded-opentype'),
		url('/themes/santos/fonts/SuomiHand-Script.woff') format('woff'),
		url('/themes/santos/fonts/SuomiHand-Script.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
    font-family: 'populaireregular';
    src: url('/themes/santos/fonts/populaire-webfont.eot');
    src: url('/themes/santos/fonts/populaire-webfont.eot?#iefix') format('embedded-opentype'),
         url('/themes/santos/fonts/populaire-webfont.woff2') format('woff2'),
         url('/themes/santos/fonts/populaire-webfont.woff') format('woff'),
         url('/themes/santos/fonts/populaire-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'populaire_lightlight';
    src: url('/themes/santos/fonts/populairelight-webfont.eot');
    src: url('/themes/santos/fonts/populairelight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/themes/santos/fonts/populairelight-webfont.woff2') format('woff2'),
         url('/themes/santos/fonts/populairelight-webfont.woff') format('woff'),
         url('/themes/santos/fonts/populairelight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}