//
// Site-wide global styles
// --------------------------------------------------

.list-group-sub .list-group-item {
  padding: 10px 30px 10px 30px;
}

.content {
    // Fix layout of form items
    .form-horizontal {
        margin: 0 15px;
        & > p {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}




.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}


/* slippry overrides */
.sy-controls {
    display:block;
}
.sy-pager li {
    width: 10px;
    height: 10px;
    margin: 0 1em 0 0;
}
.sy-pager li a {
    background:@black;
}
.sy-pager li.sy-active a {
    background-color: @blue; 
  }
.sy-controls li a:after {
    content: "";
    background-image: url("@{path}/arrows.svg");
    height:52px;
}



