// Bootstrap and Font Awesom
@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";

@import (inline) "../css/slippry.css";
// Custom variables
@import "variables.less";

// Components: Custom
@import "backtotop.less";
@import "global.less";
@import "fonts.less";

@path: "/themes/santos/images";


.container {max-width: 990px}
.HomePage,.ProductCategory {
	.container {max-width:1170px}
}

.trans {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

hr {
   border : 0;
   height : 15px;
   background : url('@{path}/hr.svg') 50% 0 no-repeat;
   margin : 1em 0;
}
hr.small {
   border : 0;
   background : url('@{path}/hr-small-white.png') 50% 0 no-repeat;
   margin : 1em 0;
}
hr.dark {
   border : 0;
   height : 15px;
   background : url('@{path}/hr-dark.svg') 50% 0 no-repeat;
   margin : 1em 0;
}
hr.small-dark {
   border : 0;
   height : 15px;
   background : url('@{path}/hr-small-dark.svg') 50% 0 no-repeat;
   margin : 1em 0;
}
hr.small-dark2 {
   border : 0;
   height : 15px;
   background : url('@{path}/hr-small-dark2.svg') 50% 0 no-repeat;
   margin : 1em 0;
}

hr.shop {
   border : 0;
   height : 15px;
   background : url('@{path}/hr-shop.png') 0 0 no-repeat;
   margin : 1em 0;
}

.ablock {display:block}
.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}


body {
	background-color:@grey;
	font-family:@font-body;	
}

header {
	position:relative;
	background-image: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%),url('/assets/Banners/home-banner1.jpg'); /* FF3.6-15 */
	background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%),url('/assets/Banners/home-banner1.jpg'); /* Chrome10-25,Safari5.1-6 */
	background-image: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%),url('/assets/Banners/home-banner1.jpg'); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height:620px;
    .container {
    	position: relative;
	    
	    	.logo {
	    	display:inline;
	    	width: 156px;
	    	margin:55px 0 0 100px;
		   
		}
	    .has-cart {
	    	position:absolute;
	    	top:10px;
	    	right:200px;
	    	.cart-count {
	    		position:absolute;
	    		left:20px;
	    		top:10px;
	    		.font-heading;
	    		color:#fff;
	    		font-size:20px;
	    	}
	    }

	    .menu-holder {
	    		position:absolute;
		    	top:0;
		    	right:0;
		    	width:180px;
		    	overflow:visible;
		    	height:75px;
		    	z-index:9999;
		    .menu-btn {
		    	.hide-text;
		    	cursor: pointer;
		    	width:55px;
		    	height:75px;
		    	position:absolute;
		    	top:0;
		    	right:90px;
		    	z-index:9;
		    	background-image: url('@{path}/menu-tag.svg');
		    	background-size:55px 75px;
		    	color:@blue;
		    	border:none;
		    	outline: none;
	//&.active {background:red;}
		    	//.trans;
		    		    	
		   	}
		   	.nav-menu {
		   		background-image: url('@{path}/menu-open-bg2.svg');
		   		background-position: left bottom;
		    	background-size: 180px;
		    	background-repeat:no-repeat;
		    	padding-bottom:60px;
		    	position:absolute;
		    	width:180px;
		    	z-index:8;
		    	padding-top:90px;
		    	opacity:0;
		    	top:-520px;
		    	right: 0px;
		    	//display:none;
		    	.trans;			  
				  ul {
				  	margin-left:36px;
				  	li {
				  		a {
				  			font-size:55px;
				  			color:@black;
				  			font-family:@font-headings;
				  			line-height: 50px;
				  			&:hover {color:@blue;text-decoration:none}
				  		}
				  	}
				  }
		   	}
		   	&.open {
		   		.menu-btn {		   			
		    		background-image: url('@{path}/menu-x.svg');
		    	}
		    	.nav-menu {
		    		//display:block;
		    		opacity:1;
		    		top:0px;
		    		right:0px;

		    	}
		    }
	    }
	    .header-content {
	    	position: relative;
	    	color:#fff;
	    	font-family:@font-script;
	    	width:60%;
	    	margin:40px 0 0 220px;
	    	font-size:60px;
	    	line-height:45px;
	    	text-align: center;
	    	padding-top:60px;
	    	.arrow {
	    		position:absolute;
	    		right:70px;
	    		bottom:-250px;
	    		width:556px;
	    		z-index:2;

	    	}
	    }
	}
}

//.no-touch header .container .menu-holder .menu-btn:hover {top:-4px}	

footer {
	background:@black;
	min-height:400px;
	padding:40px 0;
	color:#fff;
	margin-top:60px;
	.container {max-width:1170px}
	hr {
		 margin : 0 0 1em;
	}
	.footer-menu {
		ul {
			li {				
				margin:0;
				padding:0;
				a {
					.font-heading-light;
					font-size:30px;
					color:#fff;
					margin:0;
					padding:0;
					line-height: 1;
					&:hover {
						color:@blue;
						text-decoration:none;
					}
				}
			}
		}
	}
	h4 {
		text-transform: uppercase;
		color:@blue;
		font-family: @font-body-c;
	}
	.fb-like-us {
		width:100px;
		.trans;
		&:hover {
			opacity: .8;
		}
	}
	.footer-roasted {width:65px;display:block;margin-bottom:20px;}
	.footer-certified {width:70px;display:block}
	.intuit {
		text-align: right;
		font-weight: 300;
		font-size:11px;
		//line-height:30px;
		vertical-align: bottom;
		img {width:32px;vertical-align: bottom}
		a {
			text-decoration: none;color:#fff;
			.trans;
			&:hover {
				opacity:.8;
			}
		}
	}
}

section {position:relative;padding:40px}

section.home-block {
	min-height:300px;
	background:@blue;
	.container {
		position: relative;
		.main-img {
			position: absolute;
		}
		.intro {		
			color:#fff;
			text-align:left;			
			padding-right:40px;
			margin:20px 0 20px 380px;
			h1,h2 {font-size:45px;.font-heading;}
			p{
			font-size:16px;
			line-height:1.5;
			font-weight:300;
			}			
			span {color:@black;}
		}
	}


	&.home-block-1 {
		.container {
			.main-img {
			top:-100px;
			left:50px;
			width:318px;
			height:371px;
			}
		}
		.intro {
			a {
				display:block;				
	  			width:290px;
				height:59px;
				img {
				.trans;
				}
	  			&:hover img {
	  				//margin-top:-1px;
	  			}
			}
		}

	}
	&.home-block-2 {
		min-height:375px;
		background:@green url('@{path}/green-wood2.jpg') no-repeat;
		background-size: cover;
		.container {
			position:relative;			
			
			.block-2-wrapper {
					position:absolute;
					top:0px;	
					right:110px;
					width:530px;
					height:278px;	
					

				.main-img {
					top:0px;	
					right:0px;
					width:530px;
					height:278px;				
					}
				#machine-overlay {
					position:absolute;
					top:10px;
					width:510px;
					right:10px;
					z-index:2
				}
				.home-arrow-2 {
					position:absolute;
					top:-14px;
					width:115px;
					right:438px;
					z-index:3;
				}
			}

			.intro {			
				.font-heading;				
				text-align:right;							
				padding-right:60px;
				margin:50px 600px 20px 60px;
				p{
				font-size:46px;
				line-height:1;		
				}
				
			}
		}
	}
	&.home-block-3 {
		background:@red;
		min-height:100px;
		padding:15px 0 20px;
			.block-3-wrapper {
				display:block;
				position:relative;
				height:150px;
				width:600px;
				margin:0 auto;
				#home-coffee-pack-2 {
					width:135px;
					position:absolute;
					left:0;top:0;
				}
				#soul-coffee {
					width:540px;
					position:absolute;
					left:67px;
					top:0;
				}
			}
	}
	&.home-block-4 {
		background:@brown url('@{path}/brown-wood.jpg') no-repeat;
		background-size: cover;
		min-height:300px;
		color:#fff;
		text-align:center;
		.container {
			width:72%;
			.go-btn {
				img{
				width:88px;				
				}
			}
			h3 {
				.font-heading;
				font-size:76px;
			}
			p {
				.font-script;
				font-size:43px;
				line-height: 40px;
			}
		}
	}
	&.home-block-5{
		min-height:50px;
		background:@grey;
		text-align: center;
		padding:65px 0;
		.container {
			.speech-bubbles {
				width:64px;
			}
			blockquote {
				background:none;border:none;
				.font-script;
				font-size:43px;
				width: 60%;
				margin:20px auto;
				line-height: 40px;
			}
			p {
				font-weight: 300;
				font-size:20px;
			}
		}
	}
}



/* -----------------  GENERAL TYPOGRAPHY -------------------------*/



.flag-head{
	font-family: @font-headings;
	color:#fff;
	font-size:56px;
	line-height:140px;
	text-align: center;
	background : url('@{path}/flag.svg') no-repeat;
	background-size: 160px;
	min-height:160px;
	min-width:160px;
	max-width:160px;
	width:160px;
	&.lefty {float:left;margin:15px 40px 0 0}
	a {display:block;color:#fff;text-decoration:none}
}

.container.main {padding-top:40px;}
.container.content2 {padding-top:40px}

.content {
	font-family: @font-body;
	font-size:16px;
	line-height: 25px;
	font-weight:300;
	padding-left:200px;
	.lead {
		font-family: @font-headings;
		font-size:40px;
		line-height:1;
		margin-bottom:30px
	}
	p {margin:0 0 18px 0;}
	em {font-style: normal;color:@blue;}

	h1 {
		font-family: @font-headings;
		color:#fff;
		font-size:56px;
		line-height:140px;
		text-align: center;
		background : url('@{path}/flag.svg') no-repeat;
		background-size: 160px;
		min-height:160px;
		min-width:160px;
		max-width:160px;
		width:160px;
		float:left;
		margin:66px 40px 0 -200px;
		&:first-of-type {margin-top:0}		
	}
	h2 {
		font-family: @font-headings;
		color:#fff;
		font-size:40px;
		line-height:40px;
		text-align: left;
		background : url('@{path}/flag-label-wider.png') top right no-repeat;
		min-height:70px;
		padding:15px 50px 0 24px;
		margin:0 0 12px -24px;
  		display:inline-block;
		&:first-of-type {margin-top:0}





	}
	hr {
	   border : 0;
	   height : 15px;
	   background : url('@{path}/hr-dark.svg') 50% 0 no-repeat;
	   margin : 0 0 1em;
	   margin-top:80px;
	   &:first-of-type {margin-top:0}
	   
	}

	


}







/* -----------------  CAFE PAGE -------------------------*/

body.CafePage {
	background-color: @blue;
	.content {
		color:#fff;
	}
	.gallery {margin:40px auto 60px;}
	.contacts {
		hr {
			margin-bottom:20px;
		}
		p {
			color:#fff;
			.font-heading-light;
			font-size:40px;
			line-height:50px;
			margin-bottom:0px;

		}
	}
}


/* -----------------  BLOG PAGE -------------------------*/
body.Blog {
	.heading.row {
		margin-bottom:60px;
	}

	.content h1.pagetitle {
		margin-left:-185px;
		a {color:#fff;text-decoration:none}
	} 
}


.post-summary {
	h2 {
		font-family: @font-body;
		font-weight:bold;
		font-size:17px;
		color:@blue;
	}
	.read-more {
		text-transform: uppercase;
		color:@blue;
		font-family: @font-body;
		font-weight:bold;
		font-size:13px;

	}
	hr.top {margin-bottom:0;}
	hr.btm {margin-top:0;}	

}

.blog-post-meta {
		color:#666;
		font-weight:300;
		font-family:@font-body;
		font-size:12px;
		margin:0;
		img {
			width:10px;margin-right:4px;vertical-align:middle;
			&.blog-cal,.blog-comments {margin-left:12px;}
			&.blog-author {margin-top:-4px;}
			&.blog-cal {margin-top:-2px;}
		}

	}

p.pagination {
	background:@blue;
	color: #fff;
	border-radius:0;
	padding:4px;
	width:100%;
	a,span {display:inline-block;color:#fff;width:20px;text-align:center}
	a {}
	span {
		background:url('@{path}/pager-active.svg') no-repeat;
		background-size: 20px 20px

	}
}

.blog-sidebar {
	hr {margin:.3em 0}
	.icon-rss {display:inline-block;margin-top:-2px;}
	h3 {
		margin-top:0;
		}
		h3,a.rss {
		font-family:@font-body-c;
		font-weight: bold;
		font-size: 14px;
		text-transform:uppercase;
		color:@blue;
	}
}

.BlogTagsWidget hr {
	display:none
}


#BlogSearchForm_BlogSearchForm {
	position:relative;
	margin-bottom:1.1em;
	.control-label {display:none}
	.form-group {margin:0;}
	#Keyword {padding-right:18px;}
	#BlogSearchForm_BlogSearchForm_Keyword {
		border-radius:0;
		background:#fff;
		border:none;

	}
	#BlogSearchForm_BlogSearchForm_action_search {
		position: absolute;
		top:0;
		right:0;
		font-size:0;
		width:36px;
		height:36px;
		background:url('@{path}/search-btn.svg') no-repeat;
		background-size:36px 36px;
		border:none;

	}
}
.BlogCategoriesWidget {
	ul{
		.list-unstyled;
		margin:0 0 14px 0;
		li{
			.text {padding-left:6px;color:@dkblue;}
			.arrow {color:@blue;}
		}
	}
}
.BlogTagsWidget {
	h3 {color:@dkblue;}
	ul {
		.list-unstyled;
		li {float:left;margin-right:6px;}
	}
}


.BlogPost {
	.heading {
		margin-bottom:30px;
		h1.pagetitle {
			margin-left:-185px;
			a {color:#fff;text-decoration:none}
		}
		h3 {
			.font-heading;
			font-size:40px;
		}
		.content {padding-left: 200px;}
	}
	.content {
		padding-left:0px;
	}
	.post-image {margin-bottom:20px;}

}



/* -----------------  STAFF PAGE -------------------------*/

.StaffHolder {
	.staff-list {
		padding-top:40px;
		.staff-item {
			min-height:300px;
			.staff-name-photo {
				position:absolute;
				.staff-photo {
					position:relative;
					width:190px;height:225px;
					-moz-transform: rotate(-3deg);
					-webkit-transform: rotate(-3deg);
					-o-transform: rotate(-3deg);
					-ms-transform: rotate(-3deg);
					transform: rotate(-3deg);
					z-index:2;
					img {
						width:170px;height:170px;
						position:absolute;
						left:10px;top:10px;

					}
					.frame {
						position:absolute;
						top:0;left:0;
						width:190px;height:225px;
						background: url('@{path}/photo-frame.png') no-repeat;
					}
				}
				.staff-name	{
					position:absolute;
					background:@black;
					top:30px;left:175px;
					font-size:40px;
					color:#fff;
					line-height:70px;
					.font-heading;
					height:70px;
					padding: 0 60px 0 35px;
					background:url('@{path}/flag-label.svg') top right no-repeat;
					background-size: auto 70px;
				}

			}
			.staff-content {padding:120px 0 0 210px;font-size:16px;}
		}
	}
}


/* -----------------  SHOP PAGE -------------------------*/

body.ProductCategory,body.Product {
	height:100%;
	background:white;
	.container.main {padding-top:0px;}
	footer {
		margin-top:0;
	}
}

.cart-col {
	background:@grey;
	padding-top:40px;
	margin-bottom: -99999px;
   	padding-bottom: 99999px;
}
.contains-cart-col {	
  	overflow:hidden;
}
.cart-content {padding-bottom:60px;}


#Products {
	padding-top:80px;

	.productItem {
		margin-bottom:40px;
		.productImage {}
		.productTitle {
			hr.top {margin-bottom:4px;}
			hr.btm {margin-top:4px;margin-bottom:4px;}
			h3 {
			margin:0;
			.font-heading;
			font-size:34px;
			color:@blue;
			
			span {color:@black}
			
			}
			.gst {font-style: italic;color:#A6A8AB;font-size:12px;}
		}
		.variations {
			table.variationstable {
				td {padding:0 6px}
				th {color:#A6A8AB;font-style:italic;font-weight:300}
				.quantityfield {
					a.removelink,a.addlink {
					//display:inline-block;
					//width:20px;height:20px;text-align:center;
					//background:url('@{path}/pager-active.svg') no-repeat;
					//background-size: 20px 20px;
					//font-weight:bold;
					//color:#fff
					}
					.quantity {
						width:60px;
						display:inline-block;
						.form-control {}
					}
				}
			}
			hr.btm {margin-bottom:4px;}
		}
		div.add {
			a {display:block;}
		}
	}
	.dot-divider {padding-top:15px;padding-bottom:30px;}
}


.sidecart {
	padding-top:45px;
	padding-bottom:45px;
	.noItems {padding-top:30px;}

	.itemcount {padding:12px 0}
	 .item {
	    clear: both;
	    position: relative;
	    padding-right: 16px;
	}
	 .image {
	    float: left;
	    margin-right: 1em;
	}
	 .remove {
	    position: absolute;
	    top: 0;
	    right: 0;
	    width:20px;height:20px;
	    background:url('@{path}/red-cancel.svg') no-repeat;
		background-size: 20px 20px;
		color:#fff;


	}
	p {
	    margin-bottom: 0.1em;
	}
	.quantity {
	    font-weight: bold;
	}
	.checkout {
		padding:20px 0 0;
	}
	.total {
		.font-heading;
		font-size:26px;
		color:@blue;
		div {color:@black}
		padding:0;
		hr {margin-bottom:0;}
		hr.btm {margin-top:0;}
	}
}

.CheckoutPage {
	.pagetitle {
		.font-heading;
		font-size:40px;
		display:none;
	}

	.accordion-group {

	}


}


/* -----------------  COFFEE PAGE -------------------------*/

.CoffeePage {
	section.product {		
		.productItem {
			.product-img {
				width:185px;
				float:left;
				min-height: 1px;
	    		padding-left: 0px;
	    		padding-right: 15px;
			}
			.product-description {
				overflow:hidden;
				color:#fff;
				min-height: 1px;
	    		padding-left: 15px;
	    		padding-right: 15px;
	    		h3 {
	    			font-family: @font-headings;
	    			font-size:40px;
	    			a {color:#fff}
	    		}
			}			
		}
		&.santos-white {
			color:@black;
			.product-description {
				color:@black;
				h3 {					
					a {color:@black}
				}
			}
		}		
	}
}



/** Minimal Checkout Page Styling **/
.CheckoutPage {
	.pageTitle {
		.font-heading;
		font-size:50px;
		color:@black;
	}
	
	table.ordercontent {
	    width: 100%;
	}

	.form-horizontal {
		.control-label {			
		}
		.middleColumn {margin-left:25%}
		
		.btn.btn-default {
			.pull-right;
			.btn-info;
			margin-right:15px;
		}
		div#SeperateBilling {margin-left:25%}
		div#ReadTermsAndConditions {margin:6px 0 20px}
		.help-block {margin-left:25%}
		.help-block.required {color:@red;}
	}
}










/*--------------- media queries ---------------------*/
	


@media(max-width:767px){
	.HomePage header {min-height:490px;}
	header {
		min-height:300px;
		height:auto;
		.container {
			.logo {
    			margin: 45px 0 0 10px;
    			width: 110px
    		}
    		.header-content {
    			margin:20px;
    			width:auto;
    			font-size:40px;
    			line-height:30px;
    			padding-top:40px;
    		}
    		.has-cart {right:140px;}
    		.menu-holder {
    			width:140px;
    			.menu-btn {
    				
    				right:70px;

    			}
    			.nav-menu {
    				background-image: url('/themes/santos/images/menu-open-bg2.svg');
				    background-position: left bottom;
				    background-size: 140px;				    
				    width: 140px;				    
				    padding-top: 90px;
				    ul {
				    	margin-left: 18px;
				    	li {
				    		a{
				    			font-size:46px;
				    			line-height:46px;
				    		}
				    	}
				    }
    			}
    		}
    		
    	}
   }
   section.home-block .container .intro {
   	position:relative;
   	margin-left:20px;
   }
   section {padding:15px 0;}

   section.home-block.home-block-1 {
	   	.container {
	   		height:240px;
	   		.main-img {
	   			position:relative;
	   			margin:20px auto;
	   			left:auto;
	   		}
	   }
	}

	section.home-block.home-block-2 {
		padding-top:30px;
		.container {
			.intro {
				font-family: 'populaireregular';
			    text-align: center;
			    padding-right: 0px;
			    margin: 0 auto 20px;
			    p{
			    font-size:30px;
				}
			}
			.block-2-wrapper {
				position:relative;
				width:300px;
				top:auto;right:auto;
				margin:0 auto;
				height:170px;
				.main-img {width:300px;height:auto}
				#machine-overlay {width:290px;top:6px;right:4px;}
			}
		}
	}


   section.home-block.home-block-3 {
   	background:@blue;
   	.block-3-wrapper {
   		width:290px;
   		height:90px;
		#home-coffee-pack-2 {width:80px}
   		#soul-coffee {width:240px;left:46px;top:16px;}
   	}
   }

   section.home-block.home-block-4 {
   		padding-bottom:30px;
   		.container {
   			width:99%;
   			h3 {
   				font-size:50px;
   			}
   			p {
   				font-size:34px;
   				line-height:.95;
   			}
   		}
		
   }
   .content {
   		padding-left:15px;
   		h1 {	    
	    font-size: 40px;
	    line-height: 110px;    
	    background-size: 110px;
	    min-height: 110px;
	    min-width: 110px;
	    max-width: 110px;
	    width: 110px;
	    float: left;
	    margin: 30px 20px 0 0px;	    
		}
		hr {
		    margin-top: 50px;
		    background: url('/themes/santos/images/hr-darker-mobile.svg') 50% 0 no-repeat;
		 }

		h1 + hr {margin-bottom:110px;}
		p.lead {font-size:30px;}
	}

	.flag-head {   
    font-size: 40px;
    line-height: 110px;    
    background-size: 110px;
    min-height: 110px;
    min-width: 110px;
    max-width: 110px;
    width: 110px;
	    &.lefty {		    
		    margin: 3px 20px 0 0;
	    }
	}
	body.CafePage .gallery {
    margin: 20px auto 20px;
	}
	body.CafePage .contacts {
		p {font-size:30px;line-height:1.1}
		hr {
    		margin-bottom: 10px;
    	}
    	.col-sm-6 {clear:both;margin-bottom:20px;min-height:110px;}
	}




	.StaffHolder {
		.staff-list {
			.staff-item {
				.staff-name-photo {
					position:relative;
				}
				.staff-content {
					padding: 20px 0 0 0px;
				}
			}
		}
	}

	.CoffeePage section.product .productItem {
		.product-img {
			padding:0 15px;
			float:none;
		}
		.product-description {
			.add {
				img {width:140px;}
			}
		}

	}



	
	footer {
		margin-top:23px;
		p {font-size:13px;}
		.footer-menu {
			padding-top:15px;
			ul {
				li {
				a {font-size:40px;}
			}
			}
		}
		.footer-roasted {width:50px}
		.footer-certified {width:53px;}
		.intuit {
			p {
				text-align:left;padding-top:20px;font-size:12px;
				img {float:left;margin-right:6px;margin-top:-16px;}

			}
		}
		a.footer-fb {margin-top:-12px;}

	}
   .HomePage footer {margin-top:0;}

.ProductCategory {
	#Products {
		padding-top:20px;
	}
	}
   .mobile-cart {
   		background:@grey;
   }
   	.sidecart {
   	padding-top:20px;padding-bottom:20px;
   	img.yourcart {margin-bottom:12px;}
   }
	



}


@media (min-device-width: 481px) and (max-device-width: 1200px) {

	header .container .header-content {    
    width: 80%;
    margin: 40px auto 0;
    font-size: 60px;    
	}
	header .container .header-content .arrow {
		right:160px;
	}

}


@media(max-width:768px){

	header .container .header-content .arrow {
		display:none
	}
	section.home-block.home-block-2 {
		
		.container {
			.intro {
				position:relative;
				text-align: center;
    			margin: 50px auto 20px;
    			width:100%;
			    p{
			    
				}
			}
			.block-2-wrapper {
				position:relative;
				right:auto;margin:0 auto 0;
				.home-arrow-2 {display:none}
				.main-img {}
				#machine-overlay {}
			}
		}
	}

	footer p {font-size:11px;}




}



@media(min-width:1200px){}



@media(max-width:320px){

		section.home-block.home-block-1 .container .main-img {
			margin-left:-30px;
		}
		header .container {
			.logo {margin: 50px 0 0 0px;}
			.has-cart {top:5px;}

			.menu-holder {
    			width:110px;
    			.menu-btn {
    				right:40px;
    			}
    			.nav-menu {
    				background-image: url('/themes/santos/images/menu-open-bg2.svg');
				    background-position: left bottom;
				    background-size: 110px;				    
				    width: 110px;				    
				    padding-top: 90px;
				    ul {
				    	margin-left: 18px;
				    	li {
				    		a{
				    			font-size:40px;
				    			line-height:40px;
				    		}
				    	}
				    }
    			}
    		}


			}
		
		
			
    	
	}



