//
// Variables
// --------------------------------------------------
// Be sure to include any overrides to Bootstrap and/or Font Awesome variables.

// Font locations
@icon-font-path:          "../bower_components/bootstrap/fonts/";
@fa-font-path:        "../bower_components/font-awesome/fonts";


@black: 	#231F20;
@brown: 	#57421E;
@red: 		#D33C14;
@green: 	#79A342;
@blue: 		#00B2C8;
@grey: 		#F6F3EE;
@dkblue:    #343952;
@sage:      #56757F;

.bg-black {background: @black} 
.bg-brown {background: @brown}
.bg-red {background: @red}
.bg-green {background: @green}
.bg-blue {background: @blue}
.bg-grey {background: @grey}
.bg-darkblue {background:@sage}


.santos-blue {background:@blue;}
.santos-orange {background:@red;}
.santos-green {background:@green;}
.santos-white {background:@grey;}
.santos-darkblue {background:@sage;}





.txt-hilight {color:@blue;}
.txt-dark {color: @black;}
.txt-light {color: #fff;}

a {color:@blue}

@font-body: 'Roboto';
@font-body-c: 'Roboto Condensed';
@font-script: 'SuomiHand';
@font-headings: 'populaireregular';
@font-headings-light: 'populaire_lightlight';

.font-script {font-family: @font-script}
.font-heading {font-family: @font-headings}
.font-heading-light {font-family: @font-headings-light}